body {
    overflow-x: hidden;
}

main {
    padding: 25px;

    section {

        h1 {
            position: absolute;
            left: 1000%;
        }

        .profile-info {

            margin-bottom: 50px;

            display: flex;
            flex-direction: column;
            gap: 7px;
            
            .username {
                font-size: 35px;
                font-weight: bold;
            }

            .avatar-container {

                img {
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
        }
    }

    .create-post {

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            align-items: flex-start;

            div {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}