body {
    overflow-x: hidden;
}

main {
    padding: 25px;

    section {
        .profile-info {
            margin-bottom: 50px;

            display: flex;
            flex-direction: column;
            gap: 7px;
        }
    }

    .create-post {

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            align-items: flex-start;

            div {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}