@import url(_reset.css);

main {
    position: absolute;

    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    section {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .registerform, .loginform {
            background-color: rgb(202, 223, 248);
            padding: 25px;
            border-radius: 10px;

            h1 {
                padding-top: 0px;
                margin-top: 0px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            width: 200px;

            input {
                width: 200px;
            }
        }
    }

    .homepage {
        h1 {
            position: absolute;
            left: 1000%;
        }

        .login-options {
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }
}